{% extends 'base.html' %}

{% block content %}
    <h1>Categories</h1>
    <ul>
        {% for category in categories %}
            <li>
                {{ category.name }}
                <a href="{% url 'edit_category' category.id %}">Edit</a> |
                <a href="{% url 'delete_category' category.id %}">Delete</a>
            </li>
        {% empty %}
            No Data.
        {% endfor %}
    </ul>

    <a href="/">Home</a> |
    <a href="{% url "create_category" %}">New</a>
{% endblock %}